html {
    position: relative;
    min-height: 100%;
}



.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}


.ant-carousel .slick-slide img {
	margin: auto;
}

.journal .journal-title{
	text-align: center;
	font-size: 100;
}

.ant-card-head-title{
	font-size: 30px !important;
}


.ant-menu {
	background-color: white;
	color: black;
}	

.ant-layout-header {
	background-color:  white;
}


.ant-card-bordered{
	border-color: white;
}

.ant-card-head {
	border-color: white;
}



.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item {
	color: black;
	border-color: white;
	border-bottom: 0;
}



.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item a {
	color: black;
}

.ant-menu-dark.ant-menu-horizontal{
	border-bottom-color: white;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
	background-color: #444444;
	color: white;
}
.ant-menu-dark .ant-menu-item:hover , .ant-menu-dark .ant-menu-item-active{
	color: grey;
	background-color: #f0f0f0;
}

.ant-menu-dark .ant-menu-item:hover > a , .ant-menu-dark .ant-menu-item-active > a {
	color : grey;
}

.ant-dropdown-menu-item: hover ,.ant-dropdown-menu-item-active {
	background-color: #444444;
}
 .ant-content-layout {
	background-color: white !important;
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover{
	color: #fff;
}



h1 .coming-soon{
	font-size: 24;
}

#content {
 width: 480px;
 margin: 0 auto;
}
#editor {
 border: 1px solid grey;
 padding: 6px;
}


.ant-carousel .slick-slide {
  text-align: center;
  height: 450px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel {
	width: 80%;
    margin: auto;
}

#avatar {
	border-radius: 50%;
}

.logo{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

#horizontal-list li {
		display: inline;
		padding-right: 20px;
	}


